html {
    font-family: sans-serif;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: wheat; /* Background color for the body */
  }
  
  .box {
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: 1.5 rem; 
    background-color: red !important;
    color: #fff;
    text-shadow: 1px 1px 1px black;
    border-radius: 8px;
    border: 2px solid #000000;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.2));
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), inset 2px 2px 6px rgba(255, 255, 255, 0.5) inset, inset -2px -2px 6px rgba(0, 0, 0, 0.5) inset; }